/* Main Colors: https://coolors.co/3d2b2f-2380b2-b9a394-214e34 */

:root {
    --primary-color: #3d2b2f;
    --secondary-color: #2380b2;
    --accent1-color: #b9a394;
    --accent2-color: #214e34;
    --heading-font: "Cormorant Garamond", serif;
    --body-font: "Nunito Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    padding: 10px;
}

.nav_img {
    margin-left: 100px;

}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_link {
    border: solid 1px black;
    background-color: var(--accent1-color);
    padding: 18px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 12px;
    padding: 8px;
}

.contact_info {
    margin-left: 0px;
    margin: 0px;
    padding: 0;
    color: var(--primary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.about_us_main_title {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000000;
}

.company_contact_title {
    margin: 10px;
    margin-left: 0;
    padding-top: 40px;
    padding-bottom: 0px;
}

.company_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 60px 30px 30px 150px;
}

iframe {
    grid-area: 1/ 2/ 5/ 3;
    margin-top: 10px;
}

.employee_img_set {
    display: flex;
    margin-left: 60px;
    justify-content: space-evenly;
    flex-flow: wrap;
    max-width: 700px;
    background-color: #214e34;
}

.employee_img {
    width: 200px;
    height: auto;
    padding: 15px
}

article {
    position: absolute;
    top: 350px;
    padding: 14px;
    opacity: 0.95;
    background-color: var(--accent2-color);
    color: #000000;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 12px;
    margin-top: 25px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history_title {
    grid-column: 1/4;
    text-align: center;
}

.history_text {
    grid-column: 1/4;
    margin: 20px
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure_title {
    grid-column: 1/6;
    text-align: center;
}

.adventure_img {
    width: 10rem;
    height: auto;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
}

.footer_content {
    justify-content: center;
}

.socialmedia_img {
    width: 35px;
    height: auto;
    padding: 2px;
}

.wireframe_link {
    font: var(--body-font);
    align-content: center;
    font-size: medium;
    color: #2380b2;
    padding-bottom: 17px;
}

.contact_form {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

legend {
    grid-column: 1/5;
    text-align: center;
    font-size: larger;
    padding-bottom: 20px;
}

.name_contact {
    grid-column: 2/3;
}

.purpose_contact {
    grid-column: 2/3;
}

.message_contact {
    grid-column: 2/4;
}

.subscribe_contact {
    grid-column: 2/4;
    margin-top: 20px;
    margin-bottom: 15px;
}

input {
    margin: 2px;
    margin-top: 10px;
    padding: 5px;
}

button {
    margin: 1rem;
    margin-left: 150px;
    background-color: rgb(62, 16, 201);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.1rem;
    grid-column: 2/4;
    align-items: center;
    width: 150px;
}

.checkbox_contact {
    width: 20px;
    height: auto;
}

button:hover {
    background-color: rgb(44, 135, 44);
}