* {
    margin: 0.5rem;
    font: Georgia;
    box-sizing: border-box;
}

header {
    font-size: medium;
    text-align: center;
    padding: 0;
}

header img {
    max-height: 50px;
    max-width: auto;
}

.image_slider {
    border: 1px black;
    text-align: center;
}

main img {
    align-content: center;
}

footer {
    border-top: solid 1px black;
    text-align: center;
    margin-top: 200px;
    padding: 1rem;
}