.callout {
    max-width: 400px;
    margin: 10px;
    border: 2px;
    padding: 10px;
    background-color: darkblue;
    color: white;

}

.callout img {
    float: right;
    margin: 7px;
    border: 1px solid white;
    padding: 10px;
    background-color: #bbb;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0px;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
}