* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background-color: darkblue;
    --main-border-color: black;
}

nav {
    background-color: var(--main-background-color);
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: var(--main-background-color);
    border-bottom: solid 1px black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-border-color)k;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 5px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 90px;
}

footer {
    margin-top: 15px;
    border-top: 1px dashed var(--main-border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--main-border-color);
    padding: 1rem;
    background-color: rgb(216, 188, 159);
    color: rgb(33, 33, 33);
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}