:root {
    --main-background-color: darkblue;
    --main-border-color: black;
}

nav {
    background-color: var(--main-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-border-color)k;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--main-border-color);
    padding: 1rem;
    background-color: rgb(216, 188, 159);
    color: rgb(33, 33, 33);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px dashed var(--main-border-color);
    text-align: center;
}